# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.env/
venv/
ENV/
.envrc

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.hdf5
*.parquet
*.feather
*.pkl
*.joblib
*.npy
*.npz
*.db
*.sqlite

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.bak
*.swp
*.tmp
*.~
